[defaults]
inventory = inventories/hosts.yml
stdout_callback = yaml
callbacks_enabled = profile_tasks
force_color = True
interpreter_python = auto_silent
retry_files_enabled = False
host_key_checking = False
roles_path = ./roles:../roles:../../roles
collections_paths = ~/.ansible/collections:/usr/share/ansible/collections


# Déchiffrement Vault par identité (créez le fichier de clé)
vault_identity_list = dev-lab@/home/devops/.ansible/vault_lab.txt
